week1*
# Created by https://www.gitignore.io/api/java,netbeans

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/2013-OOProgrammingWithJava-PART1/week6-105.GuessingGame/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-106.BinarySearch/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_02.CharacterStringChanger/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_03.Calculator/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_05.Nicknames/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_01.Smileys/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_04.ThingSuitcaseAndContainer/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_06.PromissoryNote/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_08.Airport/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week7-week7_07.Dictionary/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_11.BoxesAndThings/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_13.RichFirstPoorLast/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_12.OnlineShop/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_09.CarRegistrationCentre/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_10.NationalService/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_14.StudentsSortedByName/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_16.SkiJumping/nbproject/private/
/2013-OOProgrammingWithJava-PART2/week8-week8_15.SortedCards/nbproject/private/